.Navbar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between; 
    padding: 15px; 
    height: 90px;
    background-color: #DEE5F8;
}
.Navlogo{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    padding-left: 25px;
    font-size: large;
    text-decoration: underline;
    color:rgb(62, 31, 89);
}
.Nav-menu{
    display: flex;
    gap: 15px;
    margin-right: 65px;
}
.Nav-btn{
    border: 1px solid rgb(180, 136, 222);
    background-color: white;
    font-size: 21px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    border-radius: 4px;
    min-width: 100px;
}
.Nav-btn:hover{
    border: 1px solid black;
    background-color: blueviolet;
    font-weight: 700;
    color: white;
}